.footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5dvh;
    padding: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.201);
}

.footerContainer > div:first-child {
    font-size: 25px;
    font-weight: bold;
}

.imagesContainer {
    display: flex;
    flex-direction: row;
    gap: 1.5vw;
}

.imagesContainer > img {
    height: 8dvh;
}

.footerContactInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1dvh;
}

.footerContactInfo > div:first-child {
    font-weight: bold;
}