* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

li {
    list-style-type: "— ";
}

@media only screen and (min-width: 1401px) {
    * {
        font-size: 1.7vw !important;
    }
}

@media only screen and (min-width: 2000px) {
    * {
        font-size: 1.9vw !important;
    }
}

@media only screen and (min-width: 3000px) {
    * {
        font-size: 2vw !important;
    }
}
