.accordionCont {
    width: 60vw;
}

.accordionHead>button {
    background-color: white !important;
    box-shadow: none !important;
}

.text {
    text-align: justify;
}

@media only screen and (max-width: 780px) {
    .accordionCont {
        width: 90vw;
    }
}
