.subInfoContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3vw;
    justify-content: center;
}

@media only screen and (max-width: 780px) {
    .subInfoContainer {
        flex-direction: column;
    }
}