.navBar {
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    font-weight: bold;
    font-size: large;
    height: 7dvh;
    width: 100%;
}

.navContainer>div:first-child {
    display: none;
}

.navContainer {
    position: fixed;
    z-index: 1000;
    width: 100%;
}

.navBar>div {
    transition: color 0.5s ease;
}

.navBar>div:hover {
    color: rgb(255, 87, 143);
    cursor: pointer;
}

@media only screen and (max-width: 780px) {
    .navBar {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.865);
        padding: 20px;
        height: max-content;
        gap: 10px;
    }

    .navContainer>div:first-child {
        display: flex;
    }

    .navContainer {
        background-color: white;
    }
}